* {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  border: 1px solid red;
  background-color: #282c34;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.category-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
